{% extends 'base.html.twig' %}

{% block title %}Edit Insects{% endblock %}

{% block body %}
    <h1>Edit Insects</h1>

    {{ include('insects/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_insects_index') }}">back to list</a>

    {{ include('insects/_delete_form.html.twig') }}
{% endblock %}
