{% extends 'base.html.twig' %}

{% block title %}Edit Bugs{% endblock %}

{% block body %}
    <h1>Edit Bugs</h1>

    {{ include('bugs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bugs_index') }}">back to list</a>

    {{ include('bugs/_delete_form.html.twig') }}
{% endblock %}
