@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');


:root {
    --primary: #094b65;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}



section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section #bird1, section #bird2 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}
section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 7vw;
    text-align: center;
    /* line-height: .95em; */
    transform: translatey(-20%);
    z-index: 1000;
}



#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    padding: 20px;
    background: var(--primary);
    display: flex;
    flex-wrap: wrap;
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
}

.sec p {
    
    color: #fff;
    font-weight: 200;
    line-height: 30px;
    padding: 12px 0;
}
/* .pasos img{ width: 75%;} */


.cardIndex{ width: 30%; gap:3%;}
#bird1, #bird2{ z-index: 100;}
#logo{ width: 100%;}
@media only screen and (max-width: 768px) {
    #logo{ width: 50%;}
    .pasos{ display: flex; flex-wrap: wrap; gap:2%; justify-content: center; width:100%;}
    .pasos div{     margin: 0 auto;
        align-items: center;
        justify-content: center;
        justify-items: center;
        display: grid;}
}
#text h2{ font-size: 3rem; font-weight: bold; color:#1C9BD5;    

    font-weight: 700;
    text-shadow: 2px 5px 0 #faf6fe;  }
#text #logo{ position: relative; z-index: 1000;}
.pasos{ display: flex; flex-wrap: wrap; gap:2%; justify-content: space-between; width:100%;}
.pasos div{    display: grid;     justify-items: center;  }
p{    font-size: 1.2rem;}
h3{ color: white; text-align: center;}
.greenbtn{ background-color:#6BC047; color: white; padding: 12px; font-size: 1.2rem; align-items: center;}
.containerFlex{      display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; padding: 25px 0;}
    h1, h2, h3,h4,h5,h6{font-family: 'Chewy', cursive;}
