@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap%27');

*{
    font-family: 'Poppins', sans-serif;
}

#secLogin, #secRegister{ display: block; height: auto; background: #fff;}
#secLogin::before, #secRegister::before{  background:none;}

    h1, h2, h3,h4,h5,h6{font-family: 'Chewy', cursive;}
    h1{margin-bottom: 5%;}
    .box-fichaje{ justify-content: center; display: flex;}
    .btnAzul{ background: #1C9BD5; color: white; border: none; padding: 7px; margin-bottom:50px;}
    @media (max-width: 767px) {
        #bird1{display: none;}
        #bird2{width:30%}
    }