@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
* {
 font-family: 'Poppins', sans-serif;
}

#secLogin, #secRegister{ display: block !important;  background: #fff;}
#secLogin h1, #secRegister h1{ text-align: center;}
#secLogin::before, #secRegister::before{  background:none;}

    h1, h2, h3,h4,h5,h6{font-family: 'Chewy', cursive;}
    h1{margin-bottom: 5%;}
    .box-fichaje{ justify-content: center; }
    .btnAzul{ background: #1C9BD5; color: white; border: none; padding: 7px; margin: 12px 0 50px 0;}
    @media (max-width: 767px) {
        /* Estilos que se aplicarán en dispositivos con ancho de pantalla máximo de 767px (por ejemplo, dispositivos móviles) */
        /* Aquí puedes colocar tus estilos para dispositivos móviles */
        #bird1{display: none;}
        #bird2{width:30%}
        
      }